# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Dependencies
requirements.txt.lock

# IDE & OS-specific files
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs & temp files
logs/
*.log
*.tmp
